version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mountain-mysql
    restart: always
    environment:
      MYSQL_DATABASE: mountain_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    command:
      --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci