spring:
  application:
    name: for-mountain

  profiles:
    active: dev

  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: 3600

server:
  forward-headers-strategy: framework
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol-header: x-forwarded-proto