spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:h2:mem:mountain_prod_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
    defer-datasource-initialization: true